.tabelas{
  display: flex;
}
table{
  width: 100%;
  border-color: #999;
}
thead{
  background: white;

}
.td1{
  background: #f5f5f5;
}
.center{
  text-align: center;
}
.id{
  color: blue;
}
.ponto{
  font-weight: bold;
}
.tabela-de-classificacao{
  width: 70%;
  margin-left: 7%;
  margin-top: 8%;
}
.tabela-de-classificacao thead{
    color: #999;
}
.tabela-rodadas{
  width: 30%;
  margin-top: 4%;
  margin-right: 7%;
}
.tabela-rodadas img{
  margin-left: 27px;
  border-left: 1px solid #d6d5d5;
}
table{
  box-sizing: border-box;
}
.menu{
  background: #3b9c00;
  margin: 0%;
  width: 100%;
  height: 80px;
  align-items: center;
  display: flex;
  color: white;
  
}
.superior{
  background: #f3f3f3;
  height: 40px;

}
body{
  margin: 0%;
  background: #fcfcfc;
  font-family: 'Open Sans', sans-serif;
}
.menu-center{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.ult-jog{
  width: 100px;
}
th{
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #ddd;
  font-size: small;
  height: 35px;
  width: 45px;
  font-style: normal;
}
td{
  height: 45px;
  border-bottom: 1px solid #c0c0c0;
}
.td-time:hover{
  color: #48c30b;
}